<article{{attributes.addClass('card','mb-4','shadow-sm')}}>
	<div class="card-body rounded-4">

		<h2 class="card-title">{{ label }}</h2>

		{% if content.field_categoria %}
			<span class="badge bg-secondary mb-2 px-3 py-1 enlarge">
				{{ content.field_categoria }}
			</span>
		{% endif %}


		{% if content.field_sub %}
			<h5 class="card-subtitle mb-2 text-muted">
				{{ content.field_sub }}
			</h5>
		{% endif %}

		{% if content.field_autor %}
			<p class="text-uppercase small text-secondary">
				Written by
				<span class="text-dark fw-bold text-normal">{{ content.field_autor }}</span>
			</p>
		{%  endif %}


		<div class="card-text">
			{{ content.body }}
		</div>


		{% if content.field_archivos %}
			<div class="mt-40">
				{{ content.field_archivos }}
			</div>
		{% endif %}

	</div>
</article>
