<!--- Node de "noticia"-->
<article{{attributes.addClass('card','mb-4','shadow-sm')}}>
	<div
		class="card-body rounded-4 p-4">


		<!-- Header -->
		<div
			class="card-header">
			<!-- Titlo -->
			<h2 class="card-title">{{ label }}</h2>

			<!-- Subtitulo -->

			<h5 class="card-subtitle mb-2 text-muted">
				{{ content.field_sub }}
			</h5>

			<!-- Categoria -->

			<span class="badge {{ badge_class }} mb-2 px-3 py-1 fs-6 anime-scale anime-scale--badge">
				{{ content.field_tipo_noticia }}
			</span>


			<!-- Autor -->
			<p class="text text-secondary">
				Written by
				<span class="text-dark fw-bold text-normal">{{ node.field_autor.value }} - </span>

				{{ node.field_fecha.value  }}
			</p>


		</div>

		<section class="w-auto bg-body-secondary mt-2 p-4 rounded custom-height">
			{{ content.body }}
		</section>


		<footer class="card-footer">
			<div class="mt-40">
				<a class="enlarge">
					{{ content.field_archivos }}</a>
			</div>

		</footer>


	</div>
</article>
